{% block paymentMethods %}
    <div class="payment-methods">
        {% for paymentMethod in services.basket.paymentMethods %}
            <div class="payment-method">
                <input type="radio" name="paymentMethodId" value="{{ paymentMethod.id }}" id="payment-method-{{ paymentMethod.id }}">
                <label for="payment-method-{{ paymentMethod.id }}">
                    <img src="{{ paymentMethod.icon }}" alt="{{ paymentMethod.name }}">
                    {{ paymentMethod.name }}
                </label>
            </div>
        {% endfor %}

        <!-- Add the TARGOBANK Payment Method -->
        {% for paymentMethod in services.basket.paymentMethods %}
            {% if paymentMethod.methodKey == 'targobank::Targobank' %}
                <div class="payment-method">
                    <input type="radio" name="paymentMethodId" value="{{ paymentMethod.id }}" id="payment-method-{{ paymentMethod.id }}">
                    <label for="payment-method-{{ paymentMethod.id }}">
                        <img src="{{ paymentMethod.icon }}" alt="{{ paymentMethod.name }}">
                        {{ paymentMethod.name }}
                    </label>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
